<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li class="is-active">
      <a href="/dashboard" aria-current="page">Dashboard</a>
    </li>
  </ul>
</nav>
<p>Welcome <%= user.name %></p>
<a href="/users/logout">Logout</a>
